<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ticket_name" class="form-control" name="row[ticket_name]" type="text" value="{$row.ticket_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('优惠券类型')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Limitation_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-limitation_price" class="form-control" step="0.01" name="row[limitation_price]" type="number" value="{$row.limitation_price|htmlentities}">
        </div>
    </div>
    <div class="form-group deduction">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deduction_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deduction_price" class="form-control" step="0.01" name="row[deduction_price]" type="number" value="{$row.deduction_price|htmlentities}">
        </div>
    </div>
    <div class="form-group discount">
        <label class="control-label col-xs-12 col-sm-2">{:__('折扣')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount" class="form-control"  name="row[discount]" type="number" value="{$row.discount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[end_time]" type="text" value="{:$row.end_time?datetime($row.end_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('库存')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stock" data-rule="required"    class="form-control" name="row[stock]" type="number" value="{$row.stock|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:$row.create_time?datetime($row.create_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
